.measure-banner {
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;

    @include small-tablet {
      flex-direction: column;
      gap: 4.8rem;
      margin-bottom: 6.4rem;
    }
  }

  &__title {
    width: 76.8rem;

    @include small-tablet {
      width: 100%;
      font-size: 6.4rem;
      line-height: 120%;
    }
  }

  &__subtitle {
    width: 84rem;
    letter-spacing: 0.072rem;
    margin-top: 1.5rem;

    @include small-tablet {
      margin: 0;
      font-size: 2.8rem;
      letter-spacing: 0.11rem;
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__img {
    -webkit-mask-image: url(./assets/images/measure-banner__mask.webp);
    mask-image: url(./assets/images/measure-banner__mask.webp);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    height: 64.3rem;
    width: 100%;

    @include small-tablet {
      -webkit-mask-image: url(./assets/images/measure-banner__mask-mob.webp);
      mask-image: url(./assets/images/measure-banner__mask-mob.webp);
      height: 48rem;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    @include btn-purple;
    position: absolute;
    bottom: 0;
    left: calc(50% - 10.5rem);
    display: flex;
    gap: 1.6rem;
    align-items: center;

    @include small-tablet {
      left: calc(50% - 7rem);
      border-radius: 3.2rem;

      span {
        display: none;
      }
    }

    &::after {
      content: '';
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url(./assets/images/icons/play-icon.svg);
      background-size: 100%;
      background-repeat: no-repeat;

      @include small-tablet {
        width: 4.8rem;
        height: 4.8rem;
      }
    }
  }
}