.hero {
    padding: 0 0 9rem;
    // .hero__inner
    &__container {
        width: 100%;
        max-width: 192rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        align-items: center;
     
    }

    // .hero__swiper

    &__swiper {
        width: 100%;
    }

    // .hero__swiper-wrapper

    &__swiper-wrapper {
    }

    // .hero__swiper-slide

    &__swiper-slide {
    }

    // .hero__swiper-slide-content

    &__swiper-slide-inner {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        align-items: center;
    }

    &__swiper-slide-content {
        position: absolute;
        left: 0;
        bottom: 24.5rem;
        padding: 8rem 10rem;
        background-color: $purple;
        width: 55.6rem;
        color: $white;
        -webkit-mask-image: url(./assets/images/icons/hero-mask.svg);
        mask-image: url(./assets/images/icons/hero-mask.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        z-index: 2;
    }

    // .hero__swiper-slide-title

    &__swiper-slide-title {
        width: 69.5rem;
        text-align: center;
        & span {
            color: $purple;
        }
    }

    // .hero__swiper-slide-text

    &__swiper-slide-text {
    }

    // .hero__swiper-slide-img

    &__swiper-slide-img {
        width: 100%;
        height: 61.4rem;
        -webkit-mask-image: url(./assets/images/hero-mask.webp);
        mask-image: url(./assets/images/hero-mask.webp);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__swiper-button-box {
        position: absolute;
        right: 10rem;
        bottom: 55.4rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        z-index: 2;
    }
    // .hero__swiper-button-prev

    &__swiper-button-prev {
    }

    // .hero__swiper-button-next

    &__swiper-button-next {
    }

    // .hero__button
    &__swiper-scrollbar {
        display: none;
    }
    &__button {
        &--hidden {
            display: none;
        }
    }
}

@media (max-width: 48em) {
    .hero {
        padding: 0 0 10rem;
        // .hero__inner
        &__container {
            width: 100%;
            max-width: 75rem;
            padding: 0;
        }

        &__inner {
            display: flex;
            flex-direction: column;
            gap: 3.2rem;
            align-items: center;
     
            position: relative;
        }

        // .hero__swiper

        &__swiper {
            width: 100%;
        }

        // .hero__swiper-wrapper

        &__swiper-wrapper {
            padding-bottom: 20rem;
        }

        // .hero__swiper-slide

        &__swiper-slide {
        }

        // .hero__swiper-slide-content

        &__swiper-slide-inner {
            display: flex;
            flex-direction: column-reverse;
            gap: 6.4rem;
            align-items: center;
        }

        &__swiper-slide-content {
            position: absolute;
            left: 0;
            bottom: auto;
            top: 32.2rem;
            padding: 5rem 6rem 4.8rem 4rem;

            width: 46rem;

            -webkit-mask-image: url(./assets/images/icons/hero-mask.svg);
            mask-image: url(./assets/images/icons/hero-mask.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
            z-index: 2;
        }

        // .hero__swiper-slide-title

        &__swiper-slide-title {
            width: 100%;
            text-align: center;
            & span {
                color: $purple;
            }
        }

        // .hero__swiper-slide-text

        &__swiper-slide-text {
        }

        // .hero__swiper-slide-img

        &__swiper-slide-img {
            width: 76rem;
            height: 69.2rem;
            -webkit-mask-image: url(./assets/images/hero-mask-mob.webp);
            mask-image: url(./assets/images/hero-mask-mob.webp);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                display: block;
                margin-right: -10rem;
            }
        }
        &__swiper-button-box {
            display: none;
        }
        // .hero__swiper-button-prev

        &__swiper-button-prev {
        }

        // .hero__swiper-button-next

        &__swiper-button-next {
        }

        &__swiper-scrollbar.swiper-scrollbar {
            display: flex;
            margin: 0 2rem;
            width: 71rem!important;
        }
        // .hero__button
        &__button-box {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 100%;
            padding: 0 2rem;
            position: absolute;
            bottom: 6.4rem;
            z-index: 2;
        }
        &__button {
            text-align: center;
            &--hidden {
                display: block;
                flex-grow: 1;
            }
        }
    }
}
