.policy {
    // .policy__inner
padding: 18rem 0 9rem;
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 6rem;
        width: 128rem;
    }

    // .policy__title

    &__title {
    }

    // .policy__inner-main-list

    &__inner-main-list {
        display: flex;
        flex-direction: column;
        gap: 5.2rem;
        padding-left: 0;
    }

    // .policy__inner-main-item

    &__inner-main-item {
        position: relative;
        padding-left: 4.5rem;
        &:before {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    // .policy__inner-list

    &__inner-list {
        margin-top: 3.6rem;
        padding-left: 0;
    }

    // .policy__inner-item

    &__inner-item {
        position: relative;

    }

    // .policy__inner-item--first

    &__inner-item--first {
        margin-bottom: 2.4rem;
        margin-left: -4.5rem;
    }

    & ol {
        list-style: none;
        counter-reset: li;
    }
    & li:not(.policy__inner-item--first):before {
        counter-increment: li;
        content: counters(li, '.') '. ';
    }
}

@media (max-width: 48em) {
    .policy {
        // .policy__inner
    padding: 20rem 0 10rem;
        &__inner {
     
            gap: 8rem;
            width: 100%;
        }
    
        // .policy__title
    
        &__title {
        }
    
        // .policy__inner-main-list
    
        &__inner-main-list {
            gap: 8rem;

        }
    
        // .policy__inner-main-item
    
        &__inner-main-item {
        
            padding-left: 6rem;
            &:before {
                position: absolute;
                left: 1rem;
                top: 0;
            }
        }
    
        // .policy__inner-list
    
        &__inner-list {
            margin-top: 3.2rem;
            padding-left: 0;
        }
    
        // .policy__inner-item
    
        &__inner-item {
            position: relative;
    
        }
    
        // .policy__inner-item--first
    
        &__inner-item--first {
            margin-bottom: 3.2rem;
            margin-left: 0rem;
        }
    
        & ol {
            list-style: none;
            counter-reset: li;
        }
        & li:not(.policy__inner-item--first):before {
            counter-increment: li;
            content: counters(li, '.') '. ';
        }
    }
}
