<section class="about-banner">
  <div class="container">
    <div class="about-banner__heading">
      <p class="about-banner__title title-h1">О компании РУНО</p>
      <p class="about-banner__subtitle title-h5">
        На сегодняшний день мы предлагаем своим Клиентам натяжные потолки нового поколения любой сложности, нанесение любого индивидуального изображения на потолок по вашим пожеланиям. Мы делаем все, чтобы Вы оставались довольны и будем рады сотрудничать!
      </p>
    </div>
    <div class="about-banner__wrapper">
      <div class="about-banner__img">
        <img src="./assets/images/about-banner.webp" alt="">
      </div>
    </div>
  </div>
</section>