<section class="application">
    <div class="container">
      <div class="application__inner">
        <div class="application__form">
          <p class="application__title title-h2">Оставьте заявку</p>
          <p class="application__text text">Хотите узнать стоимость и заказать самый ровный натяжной потолок? Оставьте ваш номер телефона, вам перезвонит наш специалист</p>
          <form class="application__form">
            <label class="application__form-input-wrapper">
     
              <input class='calculator__form-input title-h5' type="text" name="name" placeholder="Имя" pattern="\D+" minlength="3" maxlength="32">
              <span class="error title-h5">Необходимо ввести текстовое значение</span>
            </label>
            <label class="application__form-input-wrapper">
              <span>Номер телефона</span>
              <input class='calculator__form-input title-h5' name="phone"  type="text" placeholder="+7 (9__) ___ __ __">
              <span class="error title-h5">Необходимо ввести числовое значение</span>
            </label>
            <button class="application__form-button button title-h4" type="submit">Оставить заявку</button>
          </form>
        </div>
        <div class="application__content">
          <div class="application__content-title title-h1">Контактная информация</div>
          <div class="application__content-contacts">
            <div class="application__content-box">
              <a class="application__content title-h3" href="tel:+79000000000">
                <div class="application__content-svg-box">
          
                </div>
                + 7 (900) 000-00-00
              </a>
              <span class="application__content-text title-h5">круглосуточно без выходных</span>
            </div>
            <a class="application__content-box title-h3" href=mailto:email@mail.ru">
              <div class="application__content-svg-box">
          
              </div>
              email@mail.ru
            </a>
            <a class="application__content-box title-h3" href="#">
              <<div class="application__content-svg-box">
          
              </div>
              6689078, г. Москва, ул. Московская, д. 1, офис 204
            </a>
          </div>
          <div class="application__content-socials">
            <div class="application__content-title title-h2">Или напишите нам:</div>
            <div class="application__content-socials-links">
              <a class="application__content-socials-link" href="#">
              
              </a>
              <a class="application__content-socials-link" href="#">
    
              </a>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>