<section class="application">
    <div class="container">
      <div class="application__inner">
        <div class="application__form-wrapper">
          <p class="application__title title-h2">Оставьте заявку</p>
          <p class="application__text title-h5">Хотите узнать стоимость и заказать самый ровный натяжной потолок? Оставьте ваш номер телефона, вам перезвонит наш специалист</p>
          <form data-popup-message="#popup__success" data-dev action="#"  class="application__form">
            <div class="application__input-group input-group popup__label--required">
              <div class="application__form-input-wrapper form__input-wrapper">
                  <input class="application__input input--name title-h5" 
                  type="text"  placeholder="Имя"   
                  data-validate
                  data-required
                  autocomplete="off"
                  name="form[]" />
              </div>
              <span class="error-span title-h5">Введите текстовое значение</span>
          </div>
            <div class="application__input-group input-group popup__label--required">
              <div class="application__form-input-wrapper form__input-wrapper">
                  <input class="application__input input--tel title-h5" 
                  type="text"  placeholder="+7 (9__) ___ __ __"  
                  data-validate
                  data-required="tel"
                  autocomplete="off"
                  name="form[]" />
              </div>
              <span class="error-span title-h5">Введите текстовое значение</span>
          </div>


            <button class="application__form-button title-h4" type="submit">Оставить заявку</button>
          </form>
        </div>
        <div class="application__content-wrapper">
          <div class="application__content-title title-h1">Контактная информация</div>
          <div class="application__content-contacts">
            <div class="application__content-contacts-wrapper">
              <a class="application__content-box title-h3" href="tel:+79000000000">
                <div class="application__content-svg-box">
          
                </div>
                + 7 (900) 000-00-00
              </a>
              <span class="application__content-text title-h5">круглосуточно без выходных</span>
            </div>
            <a class="application__content-box title-h3" href="mailto:email@mail.ru">
              <div class="application__content-svg-box">
          
              </div>
              email@mail.ru
            </a>
            <a class="application__content-box title-h3" href="#">
              <div class="application__content-svg-box">
          
              </div>
              6689078, г. Москва, ул. Московская, д. 1, офис 204
            </a>
          </div>
          <div class="application__content-socials">
            <div class="application__content-title title-h2">Или напишите нам:</div>
            <div class="application__content-socials-links">
              <a class="application__content-socials-link" href="#">
              
              </a>
              <a class="application__content-socials-link" href="#">
    
              </a>
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </section>