<section class="benefits">
  <div class="container">
    <p class="benefits__title price">Преимущества глянцевых потолков</p>
    <div class="benefits__swiper-navigation">
      <button class="benefits__btn-prev button-swiper">
        <div class="button-swiper__svg-box">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
              <path
                  d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
              />
              <path
                  d="M20.5 12.0002L3.67 12.0002"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"
              />
          </svg>
        </div>
      </button>
      <button class="benefits__btn-next button-swiper">
        <div class="button-swiper__svg-box">
          <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
              <path d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M20.9297 11.9299L4.09969 11.9299" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </button>
    </div>
    <div class="benefits__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="benefits__item">
            <p class="benefits__item-text title-h5">
              Создают визуальный объем, словно поднимая потолок. Добавляют пространство и дополнительный свет. Также после ухода за потолком не остается разводов.
            </p>
            <p class="benefits__item-title title-h2">Блики<br>и отражение</p>
            <div class="benefits__item-num title-h2"><span>01</span></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="benefits__item">
            <p class="benefits__item-text title-h5">
              Установка любого освещения. Трековые системы, ниши, световые линии - любое современное световое решение подойдет для глянцевых потолков
            </p>
            <p class="benefits__item-title title-h2">Освещение</p>
            <div class="benefits__item-num title-h2"><span>02</span></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="benefits__item">
            <p class="benefits__item-text title-h5">
              Установка любого освещения. Трековые системы, ниши, световые линии - любое современное световое решение подойдет для глянцевых потолков
            </p>
            <p class="benefits__item-title title-h2">Освещение</p>
            <div class="benefits__item-num title-h2"><span>03</span></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="benefits__item">
            <p class="benefits__item-text title-h5">
              Установка любого освещения. Трековые системы, ниши, световые линии - любое современное световое решение подойдет для глянцевых потолков
            </p>
            <p class="benefits__item-title title-h2">Освещение</p>
            <div class="benefits__item-num title-h2"><span>04</span></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="benefits__item">
            <p class="benefits__item-text title-h5">
              Установка любого освещения. Трековые системы, ниши, световые линии - любое современное световое решение подойдет для глянцевых потолков
            </p>
            <p class="benefits__item-title title-h2">Освещение</p>
            <div class="benefits__item-num title-h2"><span>05</span></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="benefits__item">
            <p class="benefits__item-text title-h5">
              Создают визуальный объем, словно поднимая потолок. Добавляют пространство и дополнительный свет. Также после ухода за потолком не остается разводов.
            </p>
            <p class="benefits__item-title title-h2">Блики<br>и отражение</p>
            <div class="benefits__item-num title-h2"><span>06</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="benefits__swiper-scrollbar"></div>
  </div>
</section>