<section class="calculator">
    <div class="container">
        <form data-popup-message="#popup__success" data-dev action="#" class="calculator__inner">
            <div class="calculator__form-wrapper">
                <p class="calculator__form-header-title title-h1">Калькулятор расчета стоимости</p>
                <div class="calculator__form">
                    <div class="calculator__form-inner">
                        <div class="calculator__form-box">
                            <div class="calculator__form-title title-h2">Информация о потолке</div>
                            <div class="calculator__form-group">
                                <select class="calculator__form-select select title-h5" required>
                                    <option>MSD Classic</option>
                                    <option>Bauf</option>
                                    <option>LUMFER лаковый</option>
                                    <option>LUMFER матовый</option>
                                    <option>MSD Evolution</option>
                                    <option>MSD Premium</option>
                                    <option>TEQTUM белый</option>
                                    <option>TEQTUM цветной</option>
                                </select>

                                <div class="calculator__input-group input-group popup__label--required">
                                    <div class="calculator__form-input-wrapper form__input-wrapper">
                                        <input
                                            class="calculator__input input--num title-h5"
                                            type="text"
                                            placeholder="Общая площадь, м2"
                                            data-validate
                                            data-required="num"
                                            autocomplete="off"
                                            name="form[]"
                                        />
                                    </div>
                                    <span class="error-span title-h5">Введите числовое значение</span>
                                </div>
                            </div>
                        </div>
                        <div class="calculator__form-box">
                            <div class="calculator__form-title title-h2">Информация об освещении</div>
                            <div class="calculator__form-group">
                                <div class="calculator__input-group input-group popup__label--required">
                                    <div class="calculator__form-input-wrapper form__input-wrapper">
                                        <input
                                            class="calculator__input input--num title-h5"
                                            type="text"
                                            placeholder="Потолочная люстра, шт"
                                            data-validate
                                            data-required="num"
                                            autocomplete="off"
                                            name="form[]"
                                        />
                                    </div>
                                    <span class="error-span title-h5">Введите числовое значение</span>
                                </div>

                                <div class="calculator__input-group input-group popup__label--required">
                                    <div class="calculator__form-input-wrapper form__input-wrapper">
                                        <input
                                            class="calculator__input input--num title-h5"
                                            type="text"
                                            placeholder="Точечное освещение, шт"
                                            data-validate
                                            data-required="num"
                                            autocomplete="off"
                                            name="form[]"
                                        />
                                    </div>
                                    <span class="error-span title-h5">Введите числовое значение</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="calculator__form-aside">
                <div class="calculator__form-aside-wrapper">
                    <div class="calculator__form-aside-title title-h2">Примерная цена</div>
                    <div class="calculator__form-aside-cost price">9200₽<span class="title-h2">9200₽</span></div>
                    <div class="calculator__form-aside-text title-h5">Оформив заявку на сайте, вы получаете <span>скидку 10%</span> на установку потолков</div>
                </div>
                <div class="calculator__form-aside-button-wrapper">
                    <button class="calculator__form-aside-button button title-h4" type="submit">Оставить заявку</button>
                </div>
               
            </div>
        </form>
    </div>
</section>
