<section class="catalog">
  <div class="container">
    <p class="catalog__title title-h1">Каталог</p>
    <div class="catalog__wrapper">
      <div class="catalog__tab-swiper">
        <button class="catalog__tab-btn-prev button-swiper">
          <div class="button-swiper__svg-box">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                <path
                    d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M20.5 12.0002L3.67 12.0002"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
          </div>
        </button>
        <div class="swiper-wrapper catalog__tab-list title-h4">
          <div class="catalog__tab-item swiper-slide tab"  data-tab="all">Все</div>
          <div class="catalog__tab-item swiper-slide" data-tab="0">Тип помещения</div>
          <div class="catalog__tab-item swiper-slide" data-tab="1">С подсветкой</div>
          <div class="catalog__tab-item swiper-slide _active" data-tab="2">Материал</div>
          <div class="catalog__tab-item swiper-slide" data-tab="3">По конструкции</div>
          <div class="catalog__tab-item swiper-slide" data-tab="4">Дизайн</div>
          <div class="catalog__tab-item swiper-slide" data-tab="5">Освещение</div>
          <div class="catalog__tab-item swiper-slide" data-tab="6">Производители</div>
        </div>
        <button class="catalog__tab-btn-next button-swiper">
          <div class="button-swiper__svg-box">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
                <path d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.9297 11.9299L4.09969 11.9299" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </button>
      </div>
      <div class="catalog__display-list">
        <div class="catalog__display active" data-tab="all">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="0">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="1">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="2">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="3">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="4">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="5">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
        <div class="catalog__display" data-tab="6">
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
          <a href="#" class="catalog__item price-item price-item_img">
            <div class="price-item-img">
              <img src="./assets/images/price1.webp" alt="">
            </div>
            <div class="price-item-bottom">
              <p class="price-item-title title-h3">Матовые</p>
              <p class="price-item-price price">390 <span>₽/м2</span></p>
            </div>
            <div class="price-item-btn">
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.3965 10.96L22.9808 10.96L22.9808 19.5442" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.9609 22.981L22.8615 11.0804" stroke="#8874DD" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>