<section class="certificates">
    <div class="container">
        <div class="certificates__inner">
            <div class="certificates__header-box">
                <p class="certificates__title title-h1">Сертификаты</p>



                <div class="certificates__swiper-button-box">
                    <div class="certificates__swiper-button-prev button-swiper">
                        <div class="button-swiper__svg-box">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M20.5 12.0002L3.67 12.0002"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                    </div>
                    <div class="certificates__swiper-button-next button-swiper">
                        <div class="button-swiper__svg-box">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M20.9297 11.9299L4.09969 11.9299"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="certificates__swiper swiper">
                <div class="certificates__swiper-wrapper swiper-wrapper">
                    <div class="certificates__swiper-slide swiper-slide">
                        <div class="certificates__swiper-slide-inner">
                            <div class="certificates__swiper-slide-header-box">
                                <p class="certificates__swiper-slide-title title-h2">PONGS</p>
                                <p class="certificates__swiper-slide-num title-h2">01</p>
                            </div>
                            <div class="certificates__swiper-slide-img-box">
                                <img src="./assets/images/certificates1.webp" alt="" />
                            </div>
                            <div class="certificates__swiper-slide-info-box">
                                <p class="certificates__swiper-slide-info-title title-h4">Сертификат</p>
                                <a href="#" class="certificates__swiper-slide-link link" data-popup="#popup__certificates">
                                    <span class="certificates__swiper-slide-link-text title-h4">Смотреть</span>
                                    <div class="certificates__swiper-slide-link-svg-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M14.9297 5.86133L20.9997 11.9313L14.9297 18.0013"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M20.9297 11.9307L4.09969 11.9307"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="certificates__swiper-slide swiper-slide">
                        <div class="certificates__swiper-slide-inner">
                            <div class="certificates__swiper-slide-header-box">
                                <p class="certificates__swiper-slide-title title-h2">Zhejjang</p>
                                <p class="certificates__swiper-slide-num title-h2">0</p>
                            </div>
                            <div class="certificates__swiper-slide-img-box">
                                <img src="./assets/images/certificates2.webp" alt="" />
                            </div>
                              <div class="certificates__swiper-slide-info-box">
                                <p class="certificates__swiper-slide-info-title title-h4">Сертификат</p>
                                <a href="#" class="certificates__swiper-slide-link link" data-popup="#popup__certificates">
                                    <span class="certificates__swiper-slide-link-text title-h4">Смотреть</span>
                                    <div class="certificates__swiper-slide-link-svg-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M14.9297 5.86133L20.9997 11.9313L14.9297 18.0013"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M20.9297 11.9307L4.09969 11.9307"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="certificates__swiper-slide swiper-slide">
                        <div class="certificates__swiper-slide-inner">
                            <div class="certificates__swiper-slide-header-box">
                                <p class="certificates__swiper-slide-title title-h2">BAUF</p>
                                <p class="certificates__swiper-slide-num title-h2">03</p>
                            </div>
                            <div class="certificates__swiper-slide-img-box">
                                <img src="./assets/images/certificates3.webp" alt="" />
                            </div>
                              <div class="certificates__swiper-slide-info-box">
                                <p class="certificates__swiper-slide-info-title title-h4">Сертификат</p>
                                <a href="#" class="certificates__swiper-slide-link link" data-popup="#popup__certificates">
                                    <span class="certificates__swiper-slide-link-text title-h4">Смотреть</span>
                                    <div class="certificates__swiper-slide-link-svg-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M14.9297 5.86133L20.9997 11.9313L14.9297 18.0013"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M20.9297 11.9307L4.09969 11.9307"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="certificates__swiper-slide swiper-slide">
                        <div class="certificates__swiper-slide-inner">
                            <div class="certificates__swiper-slide-header-box">
                                <p class="certificates__swiper-slide-title title-h2">PONGS</p>
                                <p class="certificates__swiper-slide-num title-h2">04</p>
                            </div>
                            <div class="certificates__swiper-slide-img-box">
                                <img src="./assets/images/certificates1.webp" alt="" />
                            </div>
                              <div class="certificates__swiper-slide-info-box">
                                <p class="certificates__swiper-slide-info-title title-h4">Сертификат</p>
                                <a href="#" class="certificates__swiper-slide-link link" data-popup="#popup__certificates">
                                    <span class="certificates__swiper-slide-link-text title-h4">Смотреть</span>
                                    <div class="certificates__swiper-slide-link-svg-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M14.9297 5.86133L20.9997 11.9313L14.9297 18.0013"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M20.9297 11.9307L4.09969 11.9307"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="certificates__swiper-slide swiper-slide">
                        <div class="certificates__swiper-slide-inner">
                            <div class="certificates__swiper-slide-header-box">
                                <p class="certificates__swiper-slide-title title-h2">Zhejjang</p>
                                <p class="certificates__swiper-slide-num title-h2">05</p>
                            </div>
                            <div class="certificates__swiper-slide-img-box">
                                <img src="./assets/images/certificates2.webp" alt="" />
                            </div>
                              <div class="certificates__swiper-slide-info-box">
                                <p class="certificates__swiper-slide-info-title title-h4">Сертификат</p>
                                <a href="#" class="certificates__swiper-slide-link link" data-popup="#popup__certificates">
                                    <span class="certificates__swiper-slide-link-text title-h4">Смотреть</span>
                                    <div class="certificates__swiper-slide-link-svg-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M14.9297 5.86133L20.9997 11.9313L14.9297 18.0013"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M20.9297 11.9307L4.09969 11.9307"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="certificates__swiper-slide swiper-slide">
                        <div class="certificates__swiper-slide-inner">
                            <div class="certificates__swiper-slide-header-box">
                                <p class="certificates__swiper-slide-title title-h2">BAUF</p>
                                <p class="certificates__swiper-slide-num title-h2">06</p>
                            </div>
                            <div class="certificates__swiper-slide-img-box">
                                <img src="./assets/images/certificates3.webp" alt="" />
                            </div>
                              <div class="certificates__swiper-slide-info-box">
                                <p class="certificates__swiper-slide-info-title title-h4">Сертификат</p>
                                <a href="#" class="certificates__swiper-slide-link link" data-popup="#popup__certificates">
                                    <span class="certificates__swiper-slide-link-text title-h4">Смотреть</span>
                                    <div class="certificates__swiper-slide-link-svg-box">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                            <path
                                                d="M14.9297 5.86133L20.9997 11.9313L14.9297 18.0013"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M20.9297 11.9307L4.09969 11.9307"
                                                stroke-width="1.5"
                                                stroke-miterlimit="10"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="certificates__swiper-scrollbar swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>