<section class="contacts">
  <div class="container">
    <p class="contacts__title title-h1">Контакты</p>
    <div class="contacts__list">
      <div class="contacts__item">
        <div class="contacts__item-img">
          <img src="./assets/images/contacts__address.svg" alt="">
        </div>
        <p class="contacts__item-title title-h3">Адрес</p>
        <p class="contacts__item-text title-h4">6689078, г. Москва,<br>ул. Московская, д. 1, офис 204</p>
      </div>
      <div class="contacts__item">
        <div class="contacts__item-img">
          <img src="./assets/images/contacts__tel.svg" alt="">
        </div>
        <p class="contacts__item-title title-h3">Телефон</p>
        <a href="tel:+ 79000000000" class="contacts__item-link title-h3">+ 7 (900) 000-00-00</a>
        <p class="contacts__item-text title-h4">Круглосуточно без выходынх</p>
      </div>
      <div class="contacts__item">
        <div class="contacts__item-img">
          <img src="./assets/images/contacts__mail.svg" alt="">
        </div>
        <p class="contacts__item-title title-h3">Электронная почта</p>
        <a href="mailto:runo@mail.ru" class="contacts__item-link title-h3">runo@mail.ru</a>
      </div>
    </div>
  </div>
</section>