<footer class="footer">
  <div class="footer__inner">
    <div class="container">
      <div class="footer__top">
        <div class="footer__top-logo">
          <img src="./assets/images/icons/logo.svg" alt="">
        </div>
          <div class="footer__top-nav">
            <ul class="footer__top-nav-list">
              <li>
                <a class=" title-h5" href="#">Каталог</a>
              </li>
              <li>
                <a class=" title-h5" href="#">Наши работы</a>
              </li>
              <li>
                <a class=" title-h5" href="#">О компании</a>
              </li>
              <li>
                <a class=" title-h5" href="#">Вопрос-ответ</a>
              </li>
              <li>
                <a class=" title-h5" href="#">Контакты</a>
              </li>
            </ul>
          </div>
          <div class="footer__top-contacts">
            <a class=" title-h5" href="#">email@mail.ru</a>
            <a class=" title-h5" href="#">+ 7 (900) 000 00-00</a>
          </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-text title-h5">© 2023 Права защищены</div>
        <div class="footer__bottom-text">
          <a class=" title-h5" href="#">Положение об обработке и защите персональных данных сотрудников</a>
        </div>
        <div class="footer__bottom-inc">
          <div class="footer__bottom-inc-icon">
            <img src="./assets/images/icons/rd-icon.svg" alt="">
          </div>
          <span class="title-h5">Разработано Request Design</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>