<section class="install-banner">
  <div class="container">
    <div class="install-banner__heading">
      <p class="install-banner__title title-h1">Монтаж натяжного потолка</p>
      <p class="install-banner__subtitle title-h5">
        Все наши бригады имеют современные инструменты, ведь профессиональный инструмент это не только удобство, но и скорость выполнения монтажа. Всю технологию монтажа посмотрите в нашем видео.
      </p>
    </div>
    <div class="install-banner__wrapper">
      <div class="install-banner__img">
        <img src="./assets/images/install-banner.webp" alt="">
      </div>
      <a href="https://youtu.be/dINaRUR98AA?si=zVDau06UiT1KApXF" data-fancybox="video-install" class="install-banner__btn">
        <span>Смотреть</span>
      </a>
    </div>
  </div>
</section>