<section class="measure-banner">
  <div class="container">
    <div class="measure-banner__heading">
      <p class="measure-banner__title title-h1">Замер помещения</p>
      <p class="measure-banner__subtitle title-h5">
        Для того, чтобы потолок после установки был ровный и гладкий важно, чтобы форма полотна и его размеры полностью совпадали с потолком. Для этого необходимо точно выполнить замеры помещения, по которым будет построен чертеж.. Всю технологию монтажа посмотрите в нашем видео.
      </p>
    </div>
    <div class="measure-banner__wrapper">
      <div class="measure-banner__img">
        <img src="./assets/images/measure-banner.webp" alt="">
      </div>
      <a href="https://youtu.be/lsAcjk62h7Q?si=4oHkH8yILgW7Fpuv" data-fancybox="video-measure" class="measure-banner__btn">
        <span>Смотреть</span>
      </a>
    </div>
  </div>
</section>