<section class="our-works">
  <div class="container">
    <p class="our-works__title title-h1">Наши работы</p>
    <div class="our-works__wrapper">
      <div class="our-works__tab-swiper">
        <button class="our-works__tab-btn-prev button-swiper">
          <div class="button-swiper__svg-box">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                <path
                    d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
                <path
                    d="M20.5 12.0002L3.67 12.0002"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
          </div>
        </button>
        <div class="swiper-wrapper our-works__tab-list title-h4">
          <div class="our-works__tab-item swiper-slide tab _active"  data-tab="all">Все</div>
          <div class="our-works__tab-item swiper-slide" data-tab="0">Матовые</div>
          <div class="our-works__tab-item swiper-slide" data-tab="1">Глянцевые</div>
          <div class="our-works__tab-item swiper-slide" data-tab="2">Сатиновые</div>
          <div class="our-works__tab-item swiper-slide" data-tab="3">Тканевые</div>
          <div class="our-works__tab-item swiper-slide" data-tab="4">С подсветкой</div>
          <div class="our-works__tab-item swiper-slide" data-tab="5">Эксклюзивные</div>
          <div class="our-works__tab-item swiper-slide" data-tab="6">Производители</div>
        </div>
        <button class="our-works__tab-btn-next button-swiper">
          <div class="button-swiper__svg-box">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
                <path d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.9297 11.9299L4.09969 11.9299" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </button>
      </div>
      <div class="our-works__display-list">
        <div class="our-works__display active" data-tab="all">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="0">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="1">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="2">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="3">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="4">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="5">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="our-works__display" data-tab="6">
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
          <div class="our-works__item">
            <div class="our-works__item-content">
              <p class="our-works__item-title title-h2">Матовый потолок на кухню</p>
              <div class="our-works__item-list title-h5">
                <div class="our-works__item-li _area">Площадь 9 м2</div>
                <div class="our-works__item-li _ceil">Потолок Zhejjang</div>
                <div class="our-works__item-li _type">Тип профиля<br>открытый-скрытый</div>
                <div class="our-works__item-li _price"><p>Итоговая сумма <span>5000₽</span></p></div>
              </div>
            </div>
            <div class="our-works__item-img">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
      </div>
      <button class="our-works__more-btn">Показать еще</button>
    </div>
  </div>
</section>