<div id="popup__entrys" aria-hidden="true" class="popup popup__entrys">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div class="popup__body popup__body-entrys popup__body--short">
                <button data-close type="button" class="popup__body-close-btn close-btn popup__body-close-btn--short">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M18 2L2 18" stroke="#0E1C15" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M2 2L18 18" stroke="#0E1C15" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                    </svg>
                </button>
                <p class="popup__body-title title-h2">Войдите или зарегистрируйтесь</p>
                <p class="popup__body-desk text">Войдите, чтобы получить доступ к оформлению заказов, получению бонусов и персональных скидок</p>

                <button data-popup="#popup__entrys-personal-area" class="popup__body-btn close-btn button-long-arr">
                    <span class="popup__body-btn-text button">Войти или зарегистрироваться</span>
                    <span class="popup__body-btn-svg-box">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 9" fill="none">
                            <path
                                d="M1 4L0.5 4L0.5 5L1 5L1 4ZM53.3536 4.85355C53.5488 4.65829 53.5488 4.34171 53.3536 4.14645L50.1716 0.964466C49.9763 0.769204 49.6597 0.769204 49.4645 0.964466C49.2692 1.15973 49.2692 1.47631 49.4645 1.67157L52.2929 4.5L49.4645 7.32843C49.2692 7.52369 49.2692 7.84027 49.4645 8.03553C49.6597 8.2308 49.9763 8.2308 50.1716 8.03553L53.3536 4.85355ZM1 5L53 5L53 4L1 4L1 5Z"
                            />
                        </svg>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="popup__success" aria-hidden="true" class="popup popup__success">
    <div class="popup__wrapper popup__success-wrapper">
        <div class="popup__content">
            <div class="popup__body popup__body--success">
                <button data-close type="button" class="popup__body-close-btn close-btn popup__body-close-btn--short success-close-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M18 2L2 18" stroke="#0E1C15" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                        <path d="M2 2L18 18" stroke="#0E1C15" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                    </svg>
                </button>
                <p class="popup__body-title title-h1 popup__body--success-title">Ваша заявка отправлена</p>

                <button data-close class="popup__body-btn close-btn popup__body--success-btn button">
                    <span class="popup__body-btn-text title-h4">Продолжить</span>

                </button>
            </div>
        </div>
    </div>
</div>
