<section class="product-banner">
  <div class="container">
    <p class="product-banner__title title-h1 mob">Глянцевые потолки</p>
    <div class="product-banner__img-wrapper">
      <div class="product-banner__swiper">
        <div class="swiper-wrapper">
          <div class="product-banner__img-item swiper-slide">
            <img src="./assets/images/product-slider.webp" alt="">
          </div>
          <div class="product-banner__img-item swiper-slide">
            <img src="./assets/images/product-slider.webp" alt="">
          </div>
          <div class="product-banner__img-item swiper-slide">
            <img src="./assets/images/product-slider.webp" alt="">
          </div>
          <div class="product-banner__img-item swiper-slide">
            <img src="./assets/images/product-slider.webp" alt="">
          </div>
          <div class="product-banner__img-item swiper-slide">
            <img src="./assets/images/product-slider.webp" alt="">
          </div>
        </div>
      </div>
      <div class="product-banner__img-bottom">
        <div class="product-banner__swiper-scrollbar mob"></div>
        <div thumbsSlider="" class="product-banner__thumb-slider">
          <div class="swiper-wrapper">
            <div class="product-banner__thumb-item swiper-slide">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
            <div class="product-banner__thumb-item swiper-slide">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
            <div class="product-banner__thumb-item swiper-slide">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
            <div class="product-banner__thumb-item swiper-slide">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
            <div class="product-banner__thumb-item swiper-slide">
              <img src="./assets/images/product-slider.webp" alt="">
            </div>
          </div>
        </div>
        <div class="product-banner__img-nav-box">
          <button class="product-banner__img-btn-prev button-swiper">
            <div class="button-swiper__svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path
                      d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  />
                  <path
                      d="M20.5 12.0002L3.67 12.0002"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  />
              </svg>
            </div>
          </button>
          <button class="product-banner__img-btn-next button-swiper">
            <div class="button-swiper__svg-box">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
                  <path d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.9297 11.9299L4.09969 11.9299" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="product-banner__content">
      <div class="product-banner__info">
        <p class="product-banner__title title-h1 desc">Глянцевые потолки</p>
        <p class="product-banner__info-text title-h5">Отражают 91% света. Образуют полузеркальную поверхность, которая передаёт частично цвет и форму предметов интерьера. Глянцевая фактура способна зрительно преобразить комнату, добавить освещённости и пространства.</p>
        <ul class="product-banner__info-list title-h5">
          <li class="product-banner__info-item">Зрительно поднимает высоту стен, расширяет площадь</li>
          <li class="product-banner__info-item">Рассеивают освещение, делая пространство светлее</li>
          <li class="product-banner__info-item">Не притягивают пыль, что упрощает уход</li>
          <li class="product-banner__info-item">Используются в конструкциях, чтобы создать акцент</li>
          <li class="product-banner__info-item">Способны удержать до 100 литров воды при затоплении</li>
        </ul>
      </div>
      <div class="product-banner__price-box">
        <p class="product-banner__price-title">Цена с установкой</p>
        <p class="product-banner__price-text price"><span>от</span>9200<span>₽</span></p>
        <div class="product-banner__price-btn">
          Оставить заявку
        </div>
      </div>
    </div>
  </div>
</section>