<div id="popup__range" aria-hidden="true" class="popup popup__range">
  <div class="popup__wrapper">
      <div class="popup__content">
          <div class="popup__body popup__body-range popup__body--short">
              <div class="popup-range__wrapper">
                <div class="range-popup__swiper swiper product-card__swiper">
                  <div class="range-popup__swiper-wrapper swiper-wrapper">
                      <div class="range-popup__swiper-slide swiper-slide active">
                          <div class="range-popup__swiper-slide-swiper--1 range-popup__swiper-slide-swiper">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <div class="range-popup__slide-img">
                                        <img src="./assets/images/range1.webp" alt="" />
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="range-popup__slide-img">
                                        <img src="./assets/images/range2.webp" alt="" />
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="range-popup__slide-img">
                                        <img src="./assets/images/range3.webp" alt="" />
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="range-popup__slide-img">
                                        <img src="./assets/images/range4.webp" alt="" />
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="range-popup__slide-img">
                                        <img src="./assets/images/range1.webp" alt="" />
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="range-popup__slide-img">
                                        <img src="./assets/images/range2.webp" alt="" />
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="range-popup__thumb-swiper--1 range-popup__thumb-swiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range3.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range4.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="range-popup__swiper-slide swiper-slide">
                        <div class="range-popup__swiper-slide-swiper--2 range-popup__swiper-slide-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range4.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range3.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                            </div>
                        </div>
                          <div class="range-popup__thumb-swiper--2 range-popup__thumb-swiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range4.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range3.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="range-popup__swiper-slide swiper-slide">
                        <div class="range-popup__swiper-slide-swiper--3 range-popup__swiper-slide-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range3.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range4.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                            </div>
                        </div>
                          <div class="range-popup__thumb-swiper--3 range-popup__thumb-swiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range3.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range4.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="range-popup__swiper-slide swiper-slide">
                        <div class="range-popup__swiper-slide-swiper--4 range-popup__swiper-slide-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range4.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range3.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                            </div>
                        </div>
                          <div class="range-popup__thumb-swiper--4 range-popup__thumb-swiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range4.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range3.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                            </div>
                          </div>
                      </div>

                      <div class="range-popup__swiper-slide swiper-slide">
                        <div class="range-popup__swiper-slide-swiper--5 range-popup__swiper-slide-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range4.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range3.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range1.webp" alt="" />
                                  </div>
                                </div>
                                <div class="swiper-slide">
                                  <div class="range-popup__slide-img">
                                      <img src="./assets/images/range2.webp" alt="" />
                                  </div>
                                </div>
                            </div>
                        </div>
                          <div class="range-popup__thumb-swiper--5 range-popup__thumb-swiper">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range4.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range3.webp" alt="" />
                              </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range1.webp" alt="" />
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="range-popup__slide-img">
                                  <img src="./assets/images/range2.webp" alt="" />
                              </div>
                              </div>
                            </div>
                          </div>
                      </div>

                  </div>
                </div>
              </div>

              <div class="popup-range__bottom">
                <button data-close type="button" class="popup__body-close-btn close-btn popup__body-close-btn--short">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path d="M18 2L2 18" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                      <path d="M2 2L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round" />
                  </svg>
                </button>
  
                <div class="popup-range__swiper-button-box">
                  <div class="popup-range__swiper-button-prev button-swiper">
                      <div class="button-swiper__svg-box">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                              <path
                                  d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-miterlimit="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                              />
                              <path
                                  d="M20.5 12.0002L3.67 12.0002"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-miterlimit="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                              />
                          </svg>
                      </div>
                  </div>
                  <div class="popup-range__swiper-button-next button-swiper">
                      <div class="button-swiper__svg-box">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                              <path
                                  d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-miterlimit="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                              />
                              <path
                                  d="M20.9297 11.9299L4.09969 11.9299"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-miterlimit="10"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                              />
                          </svg>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>