<section class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__header-box">
                <p class="reviews__title title-h1">Что о нас говорят наши клиенты</p>

                <div class="reviews__btn-box">
                    <div class="reviews__swiper-button-prev swiper-button-prev"></div>
                    <div class="reviews__swiper-button-next swiper-button-next"></div>
                </div>
            </div>

            <div class="reviews__swiper swiper">
                <div class="reviews__swiper-wrapper swiper-wrapper">
                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-inner">
                            <div class="reviews__swiper-slide-svg-box">
                                <img src="./assets/images/icons/q.svg" alt="" />
                            </div>
                            <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                            <p class="reviews__swiper-slide-text title-h5">
                                “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все
                                четко и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                            </p>

                            <div class="reviews__swiper-slide-footer">
                                <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                            </div>

                            <p class="reviews__swiper-slide-num title-h2">01</p>
                        </div>
                    </div>

                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-inner">
                            <div class="reviews__swiper-slide-svg-box"><img src="./assets/images/icons/q.svg" alt="" /></div>
                            <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                            <p class="reviews__swiper-slide-text title-h5">
                                “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все
                                четко и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                            </p>

                            <div class="reviews__swiper-slide-footer">
                                <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                            </div>

                            <p class="reviews__swiper-slide-num title-h2">02</p>
                        </div>
                    </div>

                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-inner">
                            <div class="reviews__swiper-slide-svg-box"><img src="./assets/images/icons/q.svg" alt="" /></div>
                            <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                            <p class="reviews__swiper-slide-text title-h5">
                                “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все
                                четко и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                            </p>

                            <div class="reviews__swiper-slide-footer">
                                <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                            </div>

                            <p class="reviews__swiper-slide-num title-h2">03</p>
                        </div>
                    </div>

                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-inner">
                            <div class="reviews__swiper-slide-svg-box"><img src="./assets/images/icons/q.svg" alt="" /></div>
                            <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                            <p class="reviews__swiper-slide-text title-h5">
                                “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все
                                четко и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                            </p>

                            <div class="reviews__swiper-slide-footer">
                                <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                            </div>

                            <p class="reviews__swiper-slide-num title-h2">04</p>
                        </div>
                    </div>
                </div>

                <div class="reviews__swiper-scrollbar swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>