<section class="reviews">
    <div class="container">
        <div class="reviews__inner">
            <div class="reviews__header-box">
                <p class="reviews__title title-h1">Что о нас говорят наши клиенты</p>

                <div class="reviews__swiper-button-box">
                    <div class="reviews__swiper-button-prev button-swiper">
                        <div class="button-swiper__svg-box">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M20.5 12.0002L3.67 12.0002"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                    </div>
                    <div class="reviews__swiper-button-next button-swiper">
                        <div class="button-swiper__svg-box">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                                <path
                                    d="M20.9297 11.9299L4.09969 11.9299"
                                    stroke="white"
                                    stroke-width="1.5"
                                    stroke-miterlimit="10"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="reviews__swiper swiper">
                <div class="reviews__swiper-wrapper swiper-wrapper">
                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-wrapper">
                            <div class="reviews__swiper-slide-inner">
                                <div class="reviews__swiper-slide-svg-box">
                                    <img src="./assets/images/icons/q.svg" alt="" />
                                </div>
                                <div class="reviews__swiper-slide-content">
                                    <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                                    <p class="reviews__swiper-slide-text title-h5">
                                        “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                        качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все четко
                                        и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                                    </p>
                                </div>
                                <div class="reviews__swiper-slide-footer">
                                    <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                    <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                                </div>
                            </div>
                            <p class="reviews__swiper-slide-num title-h2">01</p>
                        </div>
                    </div>

                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-wrapper">
                            <div class="reviews__swiper-slide-inner">
                                <div class="reviews__swiper-slide-svg-box">
                                    <img src="./assets/images/icons/q.svg" alt="" />
                                </div>
                                <div class="reviews__swiper-slide-content">
                                    <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                                    <p class="reviews__swiper-slide-text title-h5">
                                        “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                        качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все четко
                                        и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                                    </p>
                                </div>
                                <div class="reviews__swiper-slide-footer">
                                    <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                    <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                                </div>
                            </div>
                            <p class="reviews__swiper-slide-num title-h2">01</p>
                        </div>
                    </div>

                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-wrapper">
                            <div class="reviews__swiper-slide-inner">
                                <div class="reviews__swiper-slide-svg-box">
                                    <img src="./assets/images/icons/q.svg" alt="" />
                                </div>
                                <div class="reviews__swiper-slide-content">
                                    <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                                    <p class="reviews__swiper-slide-text title-h5">
                                        “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                        качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все четко
                                        и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                                    </p>
                                </div>
                                <div class="reviews__swiper-slide-footer">
                                    <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                    <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                                </div>
                            </div>
                            <p class="reviews__swiper-slide-num title-h2">01</p>
                        </div>
                    </div>

                    <div class="reviews__swiper-slide swiper-slide">
                        <div class="reviews__swiper-slide-wrapper">
                            <div class="reviews__swiper-slide-inner">
                                <div class="reviews__swiper-slide-svg-box">
                                    <img src="./assets/images/icons/q.svg" alt="" />
                                </div>
                                <div class="reviews__swiper-slide-content">
                                    <p class="reviews__swiper-slide-title title-h2">Хочу от души поблагодарить компанию Руно за их профессионализм!</p>

                                    <p class="reviews__swiper-slide-text title-h5">
                                        “Здравствуйте! Хочу от души поблагодарить компанию Руно за их профессионализм, умение подстраиваться под ситуацию и за высокое
                                        качество обслуживания. У нас был очень сложный объект и поджимали сроки, но мастера из Руно сделали все вовремя. Сделали все четко
                                        и быстро. Результатом я очень довольна, тем более соотношение цена-качество вне конкуренции! Спасибо!”
                                    </p>
                                </div>
                                <div class="reviews__swiper-slide-footer">
                                    <p class="reviews__swiper-slide-footer-name title-h3">Инна Кондерова</p>
                                    <p class="reviews__swiper-slide-footer-time title-h5">12 июля 2023 г</p>
                                </div>
                            </div>
                            <p class="reviews__swiper-slide-num title-h2">01</p>
                        </div>
                    </div>
                </div>

                <div class="reviews__swiper-scrollbar swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>
