<section class="services">
  <div class="container">
    <div class="services__item">
      <div class="services__item-img">
        <img src="./assets/images/services_1.webp" alt="">
      </div>
      <div class="services__item-content">
        <p class="services__item-title title-h2">Замер<br>натяжного потолка</p>
        <p class="services__item-text title-h5">Натяжной потолок - это конструкция, позволяющая получить идеально ровное и гладкое покрытие, которое прослужит десятками лет. Однако добиться такого результата можно только при правильном изготовлении и подготовке натяжного полотна к установке. Важно, чтобы форма полотна и его размеры полностью совпадали с потолком.</p>
        <button class="services__item-btn button title-h4">Подробнее</button>
      </div>
    </div>
    <div class="services__item">
      <div class="services__item-img">
        <img src="./assets/images/services_2.webp" alt="">
      </div>
      <div class="services__item-content">
        <p class="services__item-title title-h2">Монтаж<br>натяжного потолка</p>
        <p class="services__item-text title-h5">Натяжной потолок - это конструкция, позволяющая получить идеально ровное и гладкое покрытие, которое прослужит десятками лет.  Однако добиться такого результата можно только при правильном изготовлении и подготовке натяжного полотна к установке. Важно, чтобы форма полотна и его размеры полностью совпадали с потолком. </p>
        <button class="services__item-btn button title-h4">Подробнее</button>
      </div>
    </div>
    <div class="services__item">
      <div class="services__item-img">
        <img src="./assets/images/services_3.webp" alt="">
      </div>
      <div class="services__item-content">
        <p class="services__item-title title-h2">Ремонт<br>натяжного потолка</p>
        <p class="services__item-text title-h5">Натяжной потолок - это конструкция, позволяющая получить идеально ровное и гладкое покрытие, которое прослужит десятками лет.  Однако добиться такого результата можно только при правильном изготовлении и подготовке натяжного полотна к установке. Важно, чтобы форма полотна и его размеры полностью совпадали с потолком. </p>
        <button class="services__item-btn button title-h4">Подробнее</button>
      </div>
    </div>
  </div>
</section>