<section class="specialists">
  <div class="container">
    <div class="specialists__heading">
      <p class="specialists__title title-h1">Команда специалистов по установке потолков</p>
      <p class="specialists__subtitle title-h5">Мы успешно работаем с 2013 года и за это время за нашими плечами довольные клиенты с качественными натяжными потолками</p>
    </div>
    <div class="specialists__wrapper">
      <div class="specialists__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="specialists__item">
              <div class="specialists__item-img">
                <img src="./assets/images/specialists__slide-1.webp" alt="">
              </div>
              <div class="specialists__item-content">
                <p class="specialists__item-title title-h2">Объекты</p>
                <p class="specialists__item-text title-h5">За годы работы на рынке натяжных потолков мы сделали более 200 объектов в Москве и Московской области</p>
                <div class="specialists__item-num title-h2">200+</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialists__item">
              <div class="specialists__item-img">
                <img src="./assets/images/specialists__slide-2.webp" alt="">
              </div>
              <div class="specialists__item-content">
                <p class="specialists__item-title title-h2">Объекты</p>
                <p class="specialists__item-text title-h5">За годы работы на рынке натяжных потолков мы сделали более 200 объектов в Москве и Московской области</p>
                <div class="specialists__item-num title-h2">200+</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialists__item">
              <div class="specialists__item-img">
                <img src="./assets/images/specialists__slide-1.webp" alt="">
              </div>
              <div class="specialists__item-content">
                <p class="specialists__item-title title-h2">Объекты</p>
                <p class="specialists__item-text title-h5">За годы работы на рынке натяжных потолков мы сделали более 200 объектов в Москве и Московской области</p>
                <div class="specialists__item-num title-h2">200+</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="specialists__item">
              <div class="specialists__item-img">
                <img src="./assets/images/specialists__slide-1.webp" alt="">
              </div>
              <div class="specialists__item-content">
                <p class="specialists__item-title title-h2">Объекты</p>
                <p class="specialists__item-text title-h5">За годы работы на рынке натяжных потолков мы сделали более 200 объектов в Москве и Московской области</p>
                <div class="specialists__item-num title-h2">200+</div>
              </div>
            </div>
          </div>
        </div>
        <div class="specialists__swiper-scrollbar mob"></div>
        <div class="specialists__nav-box">
          <button class="specialists__btn-prev button-swiper">
            <div class="button-swiper__svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path
                      d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  />
                  <path
                      d="M20.5 12.0002L3.67 12.0002"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  />
              </svg>
            </div>
          </button>
          <button class="specialists__btn-next button-swiper">
            <div class="button-swiper__svg-box">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
                  <path d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.9297 11.9299L4.09969 11.9299" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>