<section class="stages">
    <div class="container">
        <div class="stages__inner">
            <div class="stages__header-box">
                <p class="stages__title title-h1">Этапы работ</p>
            </div>

            <div class="stages__swiper swiper">
                <div class="stages__swiper-wrapper swiper-wrapper">
                    <div class="stages__swiper-slide swiper-slide">
                        <div class="stages__swiper-slide-inner stages__swiper-slide-inner-img">
                            <div class="stages__swiper-slide-img-box"></div>
                        </div>
                    </div>
                    <div class="stages__swiper-slide swiper-slide">
                        <div class="stages__swiper-slide-inner">
                            <p class="stages__swiper-slide-desk title-h5">
                                Вы звоните по телефону
                                <a class="stages__swiper-slide-link" href="tel:+790000000000">+7 (900) 000-00-00</a>
                                или оставляете заявку через сайт на <a class="stages__swiper-slide-link" href="#">Бесплатный вызов замерщика</a>
                            </p>
                            <p class="stages__swiper-slide-title title-h2">Заявка на сайте</p>
                            <p class="stages__swiper-slide-num title-h2">01</p>
                        </div>
                    </div>
                    <div class="stages__swiper-slide swiper-slide">
                        <div class="stages__swiper-slide-inner">
                            <p class="stages__swiper-slide-desk title-h5">
                                Замерщик приедет к вам на замер в оговоренное время с полным каталогом фактур и оттенков и сделает расчёт стоимости бесплатно
                                прямо при вас
                            </p>
                            <p class="stages__swiper-slide-title title-h2">Замер и расчет стоимости</p>
                            <p class="stages__swiper-slide-num title-h2">02</p>
                        </div>
                    </div>
                    <div class="stages__swiper-slide swiper-slide">
                        <div class="stages__swiper-slide-inner">
                            <p class="stages__swiper-slide-desk title-h5">
                                Заключаем с вами договор, чтобы вы были уверенны в качестве нашей работы. Также вам будет предоставлена гарантия на потолок и
                                монтажные работы
                            </p>
                            <p class="stages__swiper-slide-title title-h2">Заключение договора</p>
                            <p class="stages__swiper-slide-num title-h2">03</p>
                        </div>
                    </div>
                    <div class="stages__swiper-slide swiper-slide">
                        <div class="stages__swiper-slide-inner">
                            <ul class="stages__swiper-slide-list">
                                <li class="stages__swiper-slide-item title-h5">Выполним быстрый монтаж</li>
                                <li class="stages__swiper-slide-item title-h5">Установим встроенные светильники и шумоизоляцию</li>
                                <li class="stages__swiper-slide-item title-h5">Скроем кабели, провода и другую коммуникацию</li>
                                <li class="stages__swiper-slide-item title-h5">Оставим после себя чистоту</li>
                            </ul>
                            <p class="stages__swiper-slide-title title-h2">Профессиональный монтаж</p>
                            <p class="stages__swiper-slide-num title-h2">04</p>
                        </div>
                    </div>
                    <div class="stages__swiper-slide swiper-slide">
                        <div class="stages__swiper-slide-inner stages__swiper-slide-inner-img">
                            <div class="stages__swiper-slide-img-box"></div>
                        </div>
                    </div>
                </div>
                <div class="stages__swiper-scrollbar swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</section>