<section class="we-doing">
  <div class="container">
    <div class="we-doing__heading">
      <p class="we-doing__title title-h1">Что мы делаем</p>
      <a href="" class="we-doing__btn">Подробнее</a>
    </div>
    <div class="we-doing__wrapper">
      <div class="we-doing__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="we-doing__item">
              <div class="we-doing__item-img">
                <img src="./assets/images/services_1.webp" alt="">
              </div>
              <div class="we-doing__item-content">
                <p class="we-doing__item-title title-h2">Замер</p>
                <p class="we-doing__item-text title-h5">Важно, чтобы форма полотна и его размеры полностью совпадали с потолком. Для этого необходимо точно выполнить замеры помещения, по которым будет построен чертеж.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="we-doing__item">
              <div class="we-doing__item-img">
                <img src="./assets/images/services_2.webp" alt="">
              </div>
              <div class="we-doing__item-content">
                <p class="we-doing__item-title title-h2">Монтаж</p>
                <p class="we-doing__item-text title-h5">Важно, чтобы форма полотна и его размеры полностью совпадали с потолком. Для этого необходимо точно выполнить замеры помещения, по которым будет построен чертеж.</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="we-doing__item">
              <div class="we-doing__item-img">
                <img src="./assets/images/services_3.webp" alt="">
              </div>
              <div class="we-doing__item-content">
                <p class="we-doing__item-title title-h2">Ремонт</p>
                <p class="we-doing__item-text title-h5">Важно, чтобы форма полотна и его размеры полностью совпадали с потолком. Для этого необходимо точно выполнить замеры помещения, по которым будет построен чертеж.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="we-doing__swiper-scrollbar"></div>
        <div class="we-doing__nav-box">
          <button class="we-doing__btn-prev button-swiper">
            <div class="button-swiper__svg-box">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                  <path
                      d="M9.57031 18.0703L3.50031 12.0003L9.57031 5.93031"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  />
                  <path
                      d="M20.5 12.0002L3.67 12.0002"
                      stroke="white"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                  />
              </svg>
            </div>
          </button>
          <button class="we-doing__btn-next button-swiper">
            <div class="button-swiper__svg-box">
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none">
                  <path d="M14.9297 5.8606L20.9997 11.9306L14.9297 18.0006" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.9297 11.9299L4.09969 11.9299" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>