<div class="widget">
  <div class="widget__icon">
    <img src="./assets/images/icons/cross.svg" alt="">
  </div>
  <div class="widget__content">
    <a class="widget__content-item" data-popup="#popup__calculator">
      <div class="widget__content-item-icon">
        <img src="./assets/images/icons/calculator-min.svg" alt="">
      </div>
      <div class="widget__content-item-text" >Калькулятор расчета стоимости</div>
    </a>
    <a class="widget__content-item" data-popup="#popup__application">
      <div class="widget__content-item-icon" >
        <img src="./assets/images/icons/ruler.svg" alt="">
      </div>
      <div class="widget__content-item-text" >Вызвать замерщика</div>
    </a>
    <a class="widget__content-item nav-link" href="#top">
      <div class="widget__content-item-icon">
        <img src="./assets/images/icons/arrow-white.svg" alt="">
      </div>
      <div class="widget__content-item-text">Наверх</div>
    </a>
  </div>
</div>