<button class="banner-btn btn" type="button">
  <div>
    <!-- <img src="./assets/images/icons/whatsapp-white.svg" alt=""> -->
  </div>
</button>

<div class="widget">
  <div class="widget__icon">
    <!-- <img src="./assets/images/icons/cross.svg" alt=""> -->
  </div>
  <div class="widget__content">
    <a class="widget__content-item" href="#calculator" id="calculator-modal">
      <div class="widget__content-item-icon">
        <!-- <img src="./assets/images/icons/calculator.svg" alt=""> -->
      </div>
      <div class="widget__content-item-text">Калькулятор расчета стоимости</div>
    </a>
    <a class="widget__content-item" href="#application">
      <div class="widget__content-item-icon">
        <!-- <img src="./assets/images/icons/ruler.svg" alt=""> -->
      </div>
      <div class="widget__content-item-text">Вызвать замерщика</div>
    </a>
    <a class="widget__content-item" href="#top">
      <div class="widget__content-item-icon">
        <!-- <img src="./assets/images/icons/arrow-white.svg" alt=""> -->
      </div>
      <div class="widget__content-item-text">Наверх</div>
    </a>
  </div>
</div>