//colors
$black: #28292e;
$white: #ffffff;
$purple: #8874dd;
$hover-purple: #5746a2;
$grey: #f9f9f9;
$grey-text: #7b7b7b;
$bg: #eeeeee;
$purple-dark: #5746A2;

// * {
//   outline:1px solid #E33C18;
// }

body {
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $bg;
}

body {
    // scroll is blocked
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    // site is loaded
    .loaded & {
    }
}

main {
    flex-grow: 1;
    position: relative;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width: 48em) {
        width: 100%;
    }
}

//text
.title-h1 {
    font-family: 'SuisseIntl';
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
    @media (max-width: 48em) {
        font-size: 6.4rem;
    }
}

.title-h2 {
    font-family: 'SuisseIntl';
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 1.28px;
    @media (max-width: 48em) {
        font-size: 4.8rem;
        letter-spacing: 0.96px;
    }
}

.title-h3 {
    font-family: 'SuisseIntl';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 450;
    line-height: auto;
    letter-spacing: 0.96px;
    @media (max-width: 48em) {
        font-size: 4rem;
        letter-spacing: 0.8px;
    }
}

.title-h4 {
    font-family: 'SuisseIntl';
    font-size: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 146%;
    letter-spacing: 0.8px;
    @media (max-width: 48em) {
        font-size: 3.2rem;
        letter-spacing: 0.64px;
    }
}

.title-h5 {
    font-family: 'SuisseIntl';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 146%;
    letter-spacing: 0.72px;
    @media (max-width: 48em) {
        font-size: 2.8rem;
        letter-spacing: 0.56px;
    }
}

.price {
    font-family: 'SuisseIntl';
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}

// ---------------------------------buttons-----------------------------------------

.button {
    padding: 1.5rem 3.2rem;
    background-color: $purple;
    border-radius: 2rem;
    color: $white;
    transition: background-color 0.3s;
    width: fit-content;
    text-align: center;
    &:hover {
        background-color: $hover-purple;
    }
    height: 6rem;
    @media (max-width: 48em) {
        padding: 2.6rem 4.8rem;
        border-radius: 3.2rem;
        height: 9.6rem;
    }
}

.button-transparent {
    padding: 1.5rem 3.2rem;
    border-radius: 2rem;
    border: 1.2px solid $purple;
    color: $purple;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    height: 6rem;
    text-align: center;
    &:hover {
        background-color: #d5d0ea;
    }
    @media (max-width: 48em) {
        padding: 2.6rem 4.8rem;
        border-radius: 3.2rem;
        height: 9.6rem;
    }
}

.link {
    color: $purple;
    display: flex;
    align-items: flex-end;
    gap: 0.6rem;
    transition: color 0.3s;
    &:hover {
        color: $hover-purple;
        & [class$='svg-box'] {
            & svg {
                stroke: $hover-purple;
            }
        }
    }
    & [class$='svg-box'] {
        width: 2.4rem;
        height: 2.4rem;

        @media (max-width: 48em) {
            width: 4.8rem;
            height: 4.8rem;
        }
        & svg {
            stroke: $purple;
            object-fit: contain;
            transition: stroke 0.3s;
        }
    }

    @media (max-width: 48em) {
        gap: 1.2rem;
    }
}

.swiper-grid-column > .swiper-wrapper {
    flex-direction: row !important;
    gap: 4rem;
    & .swiper-slide {
        height: calc((100% - 30px) / 2) !important;
        // width: 54.6rem !important;
    }
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 172rem !important;
    left: 0 !important;
    height: 1px !important;
    background-color: rgba(40, 41, 46, 0.3);
    border-radius: 1px;
    bottom: 2px !important;
    & .swiper-scrollbar-drag {
        border-radius: 2px;
        background-color: $purple;
        height: 3px !important;
        top: -1px !important;
    }

    @media (max-width: 48em) {
        width: 100% !important;
    }
}

.button-swiper {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background-color: $purple;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    @include small-tablet {
      width: 9.6rem;
      height: 9.6rem;
      border-radius: 3.2rem;
    }
    &:hover {
        background-color: $hover-purple;
    }
    & .button-swiper__svg-box {
        width: 2.4rem;
        height: 2.4rem;
        @include small-tablet {
          width: 4.8rem;
          height: 4.8rem;
        }
        & svg {
            object-fit: contain;
        }
        @media (max-width: 48em) {
            width: 4.8rem;
            height: 4.8rem;
        }
    }

    @media (max-width: 48em) {
        width: 10rem;
        height: 10rem;
        border-radius: 3.2rem;
    }
}

.input-group {
    position: relative;
}
.input-group input,
.input-group textarea {
    outline: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

._form-error input,
._form-error textarea {
    background-color: #fee7ea;
    color: #f3566a;
    &::placeholder {
        color: #f3566a;
    }
}

.text-change__form-success {
    display: none;
}

.error-span {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    color: #f35656;
    line-height: normal;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    &.active {
        visibility: visible;
        opacity: 1;
        line-height: normal;
    }

    @media (max-width: 48em) {
        bottom: -3rem;
        font-size: 2rem;
    }
}

.choices.select-choices {
    width: 100%;
    height: 6rem;
    padding: 1.7rem 1.6rem;
    background-color: $grey;
    border-radius: 2rem;
    cursor: auto;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
    @media (max-width: 48em) {
        height: 9.6rem;
        padding: 2.8rem 3.2rem;
        border-radius: 2.4rem;
    }

    .choices__list--dropdown {
        padding: 1.6rem;
        bottom: 0.8rem;
        background-color: $grey;
        left: 0;
        margin-top: 1rem;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.05);

        .choices__item {
            border-bottom: 0.1rem solid rgba(161, 172, 185, 0.2);
            padding: 1.7rem 1.6rem;
            font-family: 'SuisseIntl';
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 146%;
            letter-spacing: 0.72px;
            @media (max-width: 48em) {
                font-size: 2.8rem;
                letter-spacing: 0.56px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .choices__heading {
        border-bottom: 0.1rem solid rgba(161, 172, 185, 0.2);
        font-family: 'SuisseIntl';
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 146%;
        letter-spacing: 0.72px;
        @media (max-width: 48em) {
            font-size: 2.8rem;
            letter-spacing: 0.56px;
        }
    }

    &[data-type*='select-one']::after {
        width: 1.2rem;
        height: 1.6rem;
        margin: 0;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        background: url('./assets/images/icons/select-arr.svg') no-repeat center center;
        background-size: contain;
        border: 0;
        transition: transform 0.3s;
        @media (max-width: 48em) {
            width: 2.4rem;
            height: 3.2rem;
        }
    }

    .choices__inner {
        border: 0;
        padding: 0;
        min-height: 100%;
        .choices__list--dropdown.choices__list {
            transition: visibility 0.3s;
        }
        .choices__list--single {
            padding: 0;
        }
        .choices__placeholder {
            opacity: 1;
        }

        .choices__item {
            min-height: 0;
            width: 90%;
            font-family: 'SuisseIntl';
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 146%;
            letter-spacing: 0.72px;
            @media (max-width: 48em) {
                font-size: 2.8rem;
                letter-spacing: 0.56px;
            }
        }
    }

    &.is-open {
        .choices__list {
            height: fit-content;
            border: 0;
            gap: 2rem;

            scrollbar-width: thin; /* для Firefox */
            scrollbar-color: $grey-text $bg; /* 
          /* Webkit (Chrome, Safari) */
            &::-webkit-scrollbar {
                width: 2px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $grey-text;
            }

            &::-webkit-scrollbar-track {
                background-color: $bg;
            }

            /* Edge */
            &::-ms-scrollbar {
                width: 2px;
            }

            &::-ms-scrollbar-thumb {
                background-color: $grey-text;
            }

            &::-ms-scrollbar-track {
                background-color: $bg;
            }
        }
        .choices__inner {
            & .choices__placeholder {
                opacity: 1;
            }
        }
        #choices--select-filter-item-choice-1 {
            display: none;
        }
        .is-highlighted {
        }

        &[data-type*='select-one']::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}


.fancybox {
    &__toolbar {
        display: none;
    }
    &__content {
        border-radius: 3.2rem !important;
        & .fancybox__html5video {
     
            object-fit: cover;
            outline: none !important;
            border-radius: 2.8rem !important;
        }
    }
    &__content > .f-button.is-close-btn {
        border: none;
        --f-button-border-radius: 2rem!important;
        --f-button-color: $black;
        --f-button-hover-color: $black;
        --f-button-svg-width: 1.8rem!important;
        --f-button-svg-height: 1.8rem!important;
        --f-button-outline-color: transparent;
        --f-button-width: 6rem!important;
        --f-button-height:  6rem!important;
        background : $white;
        position: absolute;
        top: -10rem!important;
        right: 0!important;
        opacity: 1!important;
        outline: none !important;
        svg {
            stroke-width: inherit;
            stroke: $black;
            fill: $black;
        }
        &:hover:not([disabled]) {
            background : $white;
        }
    }

    &__backdrop {
        background: rgba(40, 41, 46, 0.7)!important;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        opacity: 1;
    }
    &__track {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    &__slide {
        // padding: 0;
        justify-content: center;

        &::before,
        &::after {
            display: none;
        }
    }
}

.has-map .fancybox__content,
.has-pdf .fancybox__content,
.has-youtube .fancybox__content,
.has-vimeo .fancybox__content,
.has-html5video .fancybox__content {
    width: 100rem!important;
    padding: 2rem !important;
    border-radius: 2.8rem !important;
    aspect-ratio: 16/9 !important;
    overflow: hidden;
    background-color: #fff !important;
    & > .f-button.is-close-btn {
        & svg {
            fill: $black;
            stroke: $black;
        }
    }
}

.fancybox__iframe {
    border-radius: 3.2rem;

}




