//colors
$black: #28292e;
$white: #ffffff;
$purple: #8874dd;
$hover-purple: #5746a2;
$grey: #f9f9f9;
$grey-text: #7b7b7b;
$bg: #eeeeee;

// * {
//   outline:1px solid #E33C18;
// }

body {
    color: $black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $bg;
}

body {
    // scroll is blocked
    .lock & {
        overflow: hidden;
        touch-action: none;
    }
    // site is loaded
    .loaded & {
    }
}

main {
    flex-grow: 1;
    position: relative;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width: 48em) {
        width: 100%;
    }
}

//text
.title-h1 {
    font-family: 'SuisseIntl';
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}

.title-h2 {
    font-family: 'SuisseIntl';
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
}

.title-h3 {
    font-family: 'SuisseIntl';
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 450;
    line-height: auto;
}

.title-h4 {
    font-family: 'SuisseIntl';
    font-size: 2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 146%;
}

.title-h5 {
    font-family: 'SuisseIntl';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 146%;
}

.price {
    font-family: 'SuisseIntl';
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 450;
    line-height: 120%;
}

// ---------------------------------buttons-----------------------------------------

.button {
    padding: 1.5rem 3.2rem;
    background-color: $purple;
    border-radius: 2rem;
    color: $white;
    transition: background-color 0.3s;
    width: fit-content;
    &:hover {
        background-color: $hover-purple;
    }
}

.swiper-grid-column > .swiper-wrapper {
    flex-direction: row !important;
    gap: 4rem;
    & .swiper-slide {
        height: calc((100% - 30px) / 2) !important;
        // width: 54.6rem !important;
    }
}
.swiper-scrollbar.swiper-scrollbar-horizontal {
    width: 172rem !important;
    left: 0 !important;
    height: 1px !important;
    background-color: rgba(40, 41, 46, 0.3);
    border-radius: 1px;
    bottom: 2px !important;
    & .swiper-scrollbar-drag {
        border-radius: 2px;
        background-color: $purple;
        height: 3px !important;
        top: -1px !important;
    }
}

.button-swiper {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    border-radius: 2rem;
    background-color: $purple;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: $hover-purple;
    }
    & .button-swiper__svg-box {
        width: 2.4rem;
        height: 2.4rem;
        & svg {
            object-fit: contain;
        }
    }
}
.link {
    color: $purple;
    display: flex;
    align-items: flex-end;
    gap: 0.6rem;
    letter-spacing: 0.8px;
    transition: color 0.3s;
    &:hover {
        color: $hover-purple;
        & [class$='svg-box'] {
            & svg {
                stroke: $hover-purple;
            }
        }
        
    }
    & [class$='svg-box'] {
        width: 2.4rem;
        height: 2.4rem;
        & svg {
            stroke: $purple;
            object-fit: contain;
            transition: stroke 0.3s;
        }
    }
}

.input-group {
    position: relative;
}
.input-group input,
.input-group textarea {
    outline: 1px solid transparent;
    transition: outline 0.3s;
}

._form-error input,
._form-error textarea {
    outline: 1px solid #c22f2f;
}

.text-change__form-success {
    display: none;
}

.error-span {
    position: absolute;
    bottom: -2.5rem;
    left: 0;
    color: #c22f2f;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    &.active {
        visibility: visible;
        opacity: 1;
    }

    @media (max-width: 48em) {
        bottom: -3rem;
    }
}

.choices.select-choices {
    width: 100%;
    padding: 1.7rem 1.6rem;
    background-color: $grey;
    border-radius: 2rem;
    cursor: auto;
    margin-bottom: 0;
  
    .choices__list--dropdown {
      padding: 1.6rem;
      bottom: 0.8rem;
      background-color: $grey;
      left: 0;
      margin-top: 1rem;
      box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.05);
      .choices__item {
        border-bottom: 0.1rem solid rgba(161, 172, 185, 0.20);
        padding: 1.7rem 1.6rem;
        font-family: 'SuisseIntl';
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 146%;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    .choices__heading {
      border-bottom: 0.1rem solid rgba(161, 172, 185, 0.20);
      font-family: 'SuisseIntl';
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 146%;
    }
  
    &[data-type*="select-one"]::after {
      width: 1.2rem;
      height: 1.6rem;
      margin: 0;
      right: 1.6rem;
      top: 50%;
      transform: translateY(-50%);
      background: url('./assets/images/icons/select-arr.svg') no-repeat center center;
      background-size: contain;
      border: 0;
    }
  
    .choices__inner {
      border: 0;
      padding: 0;
      min-height: 100%;

      .choices__list--single {
        padding: 0;
      }
      .choices__placeholder {
        opacity: 1;
      }
  
      .choices__item {
        min-height: 0;
        width: 90%;
        font-family: 'SuisseIntl';
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 146%;
      }
    }
  
    &.is-open {
      .choices__list {
        height: fit-content;
        border: 0;
        gap: 2rem;
      }
      .choices__inner {
        & .choices__placeholder {
          opacity: 1;
        }
      }
      #choices--select-filter-item-choice-1 {
        display: none;
      }
      .is-highlighted {

      }
  
      &[data-type*="select-one"]::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }